body {
    background-color: teal;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#screen {
    background-color: grey;
    color: #000;
    width: 176px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
button {
    width: 41px;
    height: 40px;
    font-size: 20px;
}